name: "Build, Analyze and Test"

on: [ push, pull_request ]

# Declare default permissions as read only.
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: "temurin"
          java-version: 21
          cache: "maven"

      - name: Dependency Review
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2

      - name: Collect dependencies
        run: |
          ./mvnw dependency:go-offline --batch-mode
          ./mvnw verify --fail-never --batch-mode -DskipTests
          ./mvnw dependency:resolve-sources dependency:resolve -Dclassifier=javadoc --batch-mode

      - name: Build
        run: |
          ./mvnw clean install --batch-mode -DskipTests
          ./mvnw clean install -Pnative --batch-mode -DskipTests

      - name: Test
        run: ./mvnw test --batch-mode

      - name: Run help command
        id: runner
        run: |
          runners=(target/github-stats-*-runner)
          echo "cmd=$(basename ${runners[0]})" >> "$GITHUB_OUTPUT"

          "${runners[0]}" help

      - name: Upload target
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: target
          path: target/
          if-no-files-found: error

      - name: Upload runner binary
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: runner
          path: target/github-stats-*-runner
          if-no-files-found: error

      - name: Generate hashes
        shell: bash
        id: hash
        run: |
          echo "hashes=$(sha256sum target/github-stats-*-runner | base64 -w0)" >> "$GITHUB_OUTPUT"

      - name: Get image tags
        id: image_tags
        uses: redhat-cop/github-actions/get-image-version@e4729075dcd3f34946b80df6b1bfb952b9fee166 # v4
        with:
          IMAGE_CONTEXT_DIR: src/main/docker

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: src/main/docker/Dockerfile.native

      - name: Build image
        id: build_image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2
        with:
          dockerfiles: src/main/docker/Dockerfile.native
          image: github-stats
          oci: true
          tags: "${{ steps.image_tags.outputs.IMAGE_TAGS }}"

      - name: Run image
        run: podman run localhost/github-stats:latest help

      - name: Push to ghcr.io
        if: startsWith(github.ref, 'refs/tags/')
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2
        id: push_image
        with:
          image: ${{ steps.build_image.outputs.image }}
          registry: ghcr.io/${{ github.repository }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          tags: ${{ steps.build_image.outputs.tags }}

    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
      image_repo: "ghcr.io/${{ github.repository }}/${{ steps.build_image.outputs.image }}"
      image_digest: "${{ steps.push_image.outputs.digest }}"
      image_uri: "ghcr.io/${{ github.repository }}/${{ steps.build_image.outputs.image }}@${{ steps.push_image.outputs.digest }}"
      runner: "${{ steps.runner.outputs.cmd }}"

  analyze:
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: "temurin"
          java-version: 21

      - name: Initialize CodeQL
        uses: github/codeql-action/init@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          category: "/language:java"

      - name: Submit Dependency Snapshot
        uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8 # v5

  test:
    needs: [ build ]
    runs-on: ubuntu-latest
    env:
      RUNNER: "${{ needs.build.outputs.runner }}"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Download target
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: target

      - name: Make github-stats-*-runner executable
        run: chmod +x ${{ env.RUNNER }}

      - name: Run 'collect-stats' for CoP
        env:
          GITHUB_LOGIN: ${{ secrets.COP_GITHUB_LOGIN }}
          GITHUB_OAUTH: ${{ secrets.COP_GITHUB_OAUTH }}
        run: |
          touch /tmp/stats.csv
          ./${{ env.RUNNER }} stats collect-stats --organization=redhat-cop --csv-output=/tmp/redhat-cop-collect-stats.csv --validate-org-config=true --repository-limit=5 --api-limit=400

      - name: Run 'collect-members-from-ldap' for CoP
        env:
          GITHUB_LOGIN: ${{ secrets.COP_GITHUB_LOGIN }}
          GITHUB_OAUTH: ${{ secrets.COP_GITHUB_OAUTH }}
        run: |
          touch /tmp/members.csv
          ./${{ env.RUNNER }} users collect-members-from-ldap --organization=redhat-cop --ldap-members-csv=tests/ldap-members.csv --supplementary-csv=tests/supplementary.csv --user-limit=5 --fail-if-no-vpn=false

      - name: Run 'create-who-are-you-issues' for CoP
        env:
          GITHUB_LOGIN: ${{ secrets.COP_GITHUB_LOGIN }}
          GITHUB_OAUTH: ${{ secrets.COP_GITHUB_OAUTH }}
        run: ./${{ env.RUNNER }} users create-who-are-you-issues --dry-run=true --organization=redhat-cop --issue-repo=org --ldap-members-csv=tests/ldap-members.csv --supplementary-csv=tests/supplementary.csv --permission=admin --team-limit=5 --guess=false --fail-if-no-vpn=false

      - name: Upload /tmp/*.csv
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: outputs.csv
          path: /tmp/*.csv
          if-no-files-found: error

  sign-image:
    needs: [ build ]
    permissions:
      id-token: write
      packages: write
    if: startsWith(github.ref, 'refs/tags/')
    env:
      image_uri: ${{ needs.build.outputs.image_uri }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Cosign login
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | cosign login --username ${{ github.repository_owner }} --password-stdin ghcr.io

      - name: Sign Image
        run: |
          cosign sign --yes "${image_uri}"

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        env:
          TRIVY_USERNAME: ${{ github.repository_owner }}
          TRIVY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        with:
          scan-type: image
          image-ref: ${{ env.image_uri }}
          format: "cosign-vuln"
          output: "cosign-vuln.json"

      - name: Run Trivy SBOM generator
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        env:
          TRIVY_USERNAME: ${{ github.repository_owner }}
          TRIVY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        with:
          scan-type: image
          image-ref: ${{ env.image_uri }}
          format: "spdx-json"
          output: "spdx-json.json"

      - name: Attach attestations
        run: |
          cosign attest --yes --type vuln --predicate cosign-vuln.json "${image_uri}"
          cosign attest --yes --type cyclonedx --predicate spdx-json.json "${image_uri}"

  provenance_binary:
    needs: [ build ]
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      upload-assets: true

  provenance_image:
    needs: [ build ]
    permissions:
      actions: read # for detecting the Github Actions environment.
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for uploading attestations.
    if: startsWith(github.ref, 'refs/tags/')
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ needs.build.outputs.image_repo }}
      digest: ${{ needs.build.outputs.image_digest }}
      registry-username: ${{ github.repository_owner }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}

  release:
    needs: [ build ]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - name: Download runner
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: runner

      - name: Upload assets to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            github-stats-*-runner
